# Configurações do Banco de Dados Supabase (Preencha com seus dados locais)
DB_URL=jdbc:postgresql://<INSIRA_O_HOST_DO_SUPABASE>:6543/postgres?sslmode=require
DB_USERNAME=postgres.<INSIRA_O_ID_DO_PROJETO>
DB_PASSWORD=<INSIRA_A_SUA_SENHA_DO_BANCO>
DB_DRIVER=org.postgresql.Driver